<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Tweedex - <%=@panel.name unless @panel.nil?%></title>
    <style type="text/css" media="screen">
    </style>
    <script type="text/javascript" src="javascripts/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.timers.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function(){
      if ( jQuery("#tweets").length ) {
  			var since = '<%=@since%>';
  			var panel_name = '<%=@panel.name unless @panel.nil?%>';
        getTweet = function() {
          jQuery.getJSON('/'+panel_name+'/tweet?since='+since+'&timestamp='+Number(new Date()),
                        function(data) {
                          jQuery.each(data, function(i, item) {
  													console.log(item);
                            since = Math.max(item.timestamp, since);
                            jQuery('#tweets').prepend(item.html);
                          });
                        });
        }
        jQuery(document).oneTime(1000, getTweet);
        jQuery(document).everyTime(3000, getTweet);
      }
    });
    </script>
  </head>
  <body>

    <%= yield :layout %>

  </body>
</html>